# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
dist
node_modules
.idea
logs
### Gradle ###
HELP.md
.gradle/
build/

out/

### Misc ###
test.mv.db
logs/
